<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2">DAK - Distribuidora Aficania de Kenya</h1>
        <hr class="my-4">
        <p class="lead">Desde hace más de 20 años, el equipo de DAK conecta diariamente cientos de negocios y particulares, con modernas unidades y un equipo humano altamente calificado. <span style="font-size: 1em; color: Tomato;"><i class="fas fa-map-marker-alt"></i></span></p>
        <br>
        <p class="lead">Todo lo que hacemos en DAK tiene un propósito: <strong>"Conectar a las Personas. Mejorar sus vidas."</strong> Este compromiso guía nuestros esfuerzos y nuestro sentido de la responsabilidad, subraya nuestros valores, se centra en nuestra misión
            y crea un valor a largo plazo. Para cumplir nuestro propósito, tenemos que lograr que cada dimensión de nuestro negocio sea sustentable. <span style="font-size: 1em; color: Tomato;"><i class="fas fa-street-view"></i></span>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-dark btn-lg" href="#" role="button">Ingresar paquete</a>
            </p>
    </div>
</div>
<img src="../../../assets/background/background.png" class="img-fluid" alt="Responsive image">
<br>
<br>
<br>
<br>