<app-loading *ngIf="loading" class="m-5"></app-loading>

<form *ngIf="!loading" class="animated fadeIn">
    <div class="row">
        <div class="column">

            <div class="form-group col-md-8">
                <label for="inputRemitente">Remitente</label>
                <input type="text" class="form-control" id="inputRemitente" placeholder="Jhon Smith">
            </div>
            <div class="form-group col-md-8">
                <a href="#" class="stretched-link">Agregar Remitente</a>
            </div>
            <div class="form-group col-md-8">
                <a href="#" class="stretched-link">Buscar Remitente</a>
            </div>
            <div class="form-group col-md-8">
                <label for="inputDestinatario">Destinatario</label>
                <input type="text" class="form-control" id="inputDestinatario" placeholder="Peter Parker">
            </div>
            <div class="form-group col-md-8">
                <a href="#" class="stretched-link">Agregar Destinatario</a>
            </div>
            <div class="form-group col-md-8">
                <a href="#" class="stretched-link">Buscar Destinatario</a>
            </div>
            <div class="form-control-lg">
            </div>
            <div class="form-control-lg">
            </div>
            <div class="form-control-lg">
            </div>
            <button type="submit" class="btn btn-dark">Ingresar</button>
        </div>
        <div class="column">
            <div class="form-group col-md-8">
                <label for="inputCalle">Calle</label>
                <input type="text" class="form-control" id="inputCalle" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-8">
                <label for="inputCondado">Condado</label>
                <select id="inputCondado" class="form-control">
                  <option *ngFor="let condado of condados">{{condado.Nombre}}</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="inputLocalidad">Localidad</label>
                <input type="text" class="form-control" id="inputLocalidad" placeholder="Barrio St Claire...">
            </div>
            <div class="form-group col-md-8">
                <label for="inputDetalle">Detalles de direccion</label>
                <textarea class="form-control" id="inputDetalle" rows="3"></textarea>
            </div>

            <div class="form-group col-md-4">
                <label for="inputPeso">Peso</label>
                <input type="text" class="form-control" id="inputPeso">
            </div>
        </div>
    </div>
</form>