<app-loading *ngIf="loading" class="m-5"></app-loading>

<form [formGroup]="formPaquete" (ngSubmit)="pagar(formPaquete.value, remitente.value, destinatario.value)" *ngIf="!loading" class="animated fadeIn contenedor">
    <h1>Ingresar Paquete</h1>
    <small class="text-muted">Complete el formulario con los datos del paquete que desea ingresar. Seleccionando el Cliente Remitente y el Cliente Destinatario.</small>
    <div class="form-control-lg">
    </div>
    <div class="row">
        <div class="column">

            <div class="form-group col-md-8">
                <mat-form-field>
                    <mat-label>
                        Remitente
                    </mat-label>
                    <input type="text" matInput [formControl]="control" [matAutocomplete]="auto" name="remitente" #remitente>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let documento of filClients | async" [value]="documento">
                            {{documento}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="form-group col-md-8">
                <button type="button" routerLink="/agregarCliente" class="btn btn-outline-secondary">Agregar Remitente</button>
            </div>
            <div class="form-group col-md-8">
                <mat-form-field>
                    <mat-label>
                        Destinatario
                    </mat-label>
                    <input type="text" matInput [formControl]="control" [matAutocomplete]="auto" name="destinatario" #destinatario>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let documento of filClients | async" [value]="documento">
                            {{documento}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="form-group col-md-8">
                <button type="button" routerLink="/agregarCliente" class="btn btn-outline-secondary">Agregar Destinatario</button>
            </div>
            <div class="form-control-lg">
            </div>
            <div class="form-control-lg">
            </div>
            <div class="form-control-lg">
            </div>
            <div class="form-control-lg">
            </div>
            <div class="form-control-lg">
            </div>
            <button type="submit" [disabled]="formPaquete.invalid" class="btn btn-dark">Ir a pago</button>
            <div class="form-control-lg">
            </div>
        </div>
        <div class="column">
            <div class="form-group col-md-8">
                <label for="inputCalle">Calle</label>
                <input type="text" class="form-control" id="inputCalle" placeholder="1234 Main St" formControlName="calle">
                <span *ngIf="calle && calle.invalid && calle.touched" class="error-block">Calle invalida</span>
            </div>
            <div class="form-group col-md-8">
                <label for="inputCondado">Condado</label>
                <select id="inputCondado" class="form-control" formControlName="condado">
                  <option *ngFor="let condado of condados">{{condado.Nombre}}</option>
                </select>
                <span *ngIf="condado && condado.invalid && condado.touched" class="error-block">Condado invalido</span>
            </div>
            <div class="form-group col-md-8">
                <label for="inputLocalidad">Localidad</label>
                <input type="text" class="form-control" id="inputLocalidad" placeholder="Barrio St Claire" formControlName="localidad">
                <span *ngIf="localidad && localidad.invalid && localidad.touched" class="error-block">Localidad invalida</span>
            </div>
            <div class="form-group col-md-8">
                <label for="inputDetalle">Detalles de direccion</label>
                <textarea class="form-control" id="inputDetalle" rows="3" formControlName="detalle"></textarea>
                <span *ngIf="detalle && detalle.invalid && detalle.touched" class="error-block">Detalle invalido</span>
            </div>

            <div class="form-group col-md-4">
                <label for="inputPeso">Peso</label>
                <input type="number" class="form-control" id="inputPeso" formControlName="peso">
                <span *ngIf="peso && peso.invalid && peso.touched" class="error-block">Peso invalido</span>
            </div>
        </div>
    </div>
</form>