<div class="contenedor" >
<div class="search" >
    <form [formGroup]="formTracking">
      <div class="form-group">
        <small class="form-text text-muted">Ingrese el numero de tracking.</small>
        <input type="input" class="form-control" placeholder="Ej: DAK813275448216" formControlName="numeroTracking">
      </div>
      <button type="submit" (click)="verificar()" class="btn btn-info">Rastrear</button>
    </form>
  </div>
</div>
  <!--"-->
  <!---->
  <!-- formControlName="numeroTracking"-->
  <!--{{existe}}-->