<form [formGroup]="formLogin" class="animated fadeIn">
    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text " class="form-control" id="usuario" aria-describedby="usuarioAyuda" placeholder="Usuario" formControlName="user">
    </div>
    <div class="form-group ">
        <label for="password ">Password</label>
        <input type="password " class="form-control " id="password " placeholder="Contraseña" formControlName="password">
    </div>
    <button type="submit" (click)="login()" class="btn btn-dark ">Login</button>
</form>