<head>
    <link rel="stylesheet" href="Factura.css">
</head>
<div class="pagina">
    <div class="DAK">
        <div class="info">
            Número - {NUMERO}
        </div>
        <div class="info">
            DAK
        </div>
        <div class="info">
            Nairobi - Bungabunga 347 - Kenya
        </div>
        <div class="info">
            RUT - {XXXXXXXXXXX}
        </div>

    </div>
    <div class="fecha">
        <div class="fila top">
            <div class="col ini">
                DÍA
            </div>
            <div class="col">
                MES
            </div>
            <div class="col fin">
                AÑO
            </div>
        </div>
        <div class="fila bot">
            <div class="col ini">
                {D}
            </div>
            <div class="col">
                {M}
            </div>
            <div class="col fin">
                {Y}
            </div>
        </div>
    </div>
<hr>

    <div class="cli">
        <div class="info">
            Nombre - {NOMBRE}
        </div>
        <div class="info">
            Apellido - {APELLIDO}
        </div>
        <div class="info">
            Documento - {DOCUMETNO}
        </div>
        <div class="info">
            Direccion - {DIRECCION}
        </div>
    </div>




<div class="total">
    <div class="fila">
        <div class="">
            Subtotal
        </div>
        <div class="">
            Descuentos
        </div>
        <div class="">
            Total
        </div>
    </div>

        <div class="fila pesos">
            <div class="">
               $
            </div>
            <div class="">
                $
            </div>
            <div class="">
                $
            </div>
        </div>

    <div class="fila">
        <div class="">
            {SUBTOTAL}
        </div>
        <div class="">
            {DESCUENTO}
        </div>
        <div class="">
            {TOTAL}
        </div>
    </div>
</div>
</div>